<div style="text-align:center;">
  <h1 style="background-image: url(<%= asset_path('h1_blue.png') %>); "> 管理者トップ（会員一覧）</h1>
</div>

<p><%= flash[:notice] %></p>

<%= render 'admin/partial_template/admin_user_index', users: @users %>