<div style="text-align:center;">
  <h1 style="background-image: imageurl("h1_yellow.png"); ">　Stationary Clubとは</h1>
</div>

<div class="top_about">
  <p class="image"><%= image_tag 'top1.jpg', size: '500x327' %></p>
  <p class="lead text-center">
     PC・タブレット・インターネットの普及により<br>
     使う機会が減ってきた文房具。<br>
     <br>
     日々の生活が忙しくて<br>
     なかなか心に余裕が持てない毎日。
  </p>
</div>

<div class="top_about">
  <p class="lead text-center">
    あえてアナログな文房具で<br>
    日記をつけたり、お手紙を送ったり。<br>
    <br>
    自分や大切な人と向き合う時間に<br>
    文房具がぴったりだと思いました。<br>
    <br>
    そんな文房具が好きな人も<br>
    今はまだそうでもない人も、<br>
  一緒に盛り上がれる<span style="color:red">SNS</span>サイトです。<br>
  </p>
  
  <p class="image"><%= image_tag 'top2.jpg', size: '500x327' %></p>
</div>

<div class="top_about">
  <p class="h2 text-center"><br>一緒に文房具界を盛り上げませんか？</h2>
</div>

<%#= link_to "退会はこちら", confirm_quit_path(name: current_user.name) %>