<h1 style="background-color: #feeaac;">ようこそ文房具の世界へ</h1>

<div class="top_about">
  <p><%= image_tag 'top1.jpg', size: '100x100' %></p>
  <p class="text_center">
     PC・タブレット・インターネットの普及により
     使う機会が減ってきた文房具。
     
     日々の生活が忙しくて
     なかなか心に余裕が持てない毎日。
  </p>
</div>

<div class="top_about">
  <p class="text_center">
    あえてアナログな文房具で
    日記をつけたり、お手紙を送ったり。

    自分や大切な人と向き合う時間に
    文房具がぴったりだと思いました。
  </p>
  <p><%= image_tag 'top2.jpg', size: '100x100' %></p>
</div>

<%#= link_to "退会はこちら", confirm_quit_path(name: current_user.name) %>