<div style="text-align:center;">
  <h1 style="background-color: #feeaac;">ようこそ文房具の世界へ</h1>
</div>

<div class="top_about">
  <p class="image"><%= image_tag 'top1.jpg', size: '500x327' %></p>
  <p class="lead text-center">
     PC・タブレット・インターネットの普及により<br>
     使う機会が減ってきた文房具。<br>
     <br>
     日々の生活が忙しくて<br>
     なかなか心に余裕が持てない毎日。
  </p>
</div>

<div class="top_about">
  <p class="lead text-center">
    あえてアナログな文房具で<br>
    日記をつけたり、お手紙を送ったり。<br>
    <br>
    自分や大切な人と向き合う時間に<br>
    文房具がぴったりだと思いました。<br>
  </p>
  <p class="image"><%= image_tag 'top2.jpg', size: '500x327' %></p>
</div>

<div class="top_about">
  <p class="lead text-center">
  文房具好きな人も、<br>
  今はまだそうでもない人も、<br>
  <br>
  ぜひ一緒に<br>
  </p>
  <h2 class="text-left">一緒に文房具界を盛り上げませんか？</h2>
</div>

<%#= link_to "退会はこちら", confirm_quit_path(name: current_user.name) %>