@use '~bootstrap/scss/bootstrap';

.sidebar {
  background-color: rgba(255, 255, 255, 0.2);
}

.logo-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-icon>p {
  width: 49%;
}